h1 {
color: #07820b;
}

p {
  color: #518252;
}

body {
  background-color: #d6a190;
}
.green-text {
  color: green;
}
.important{
  font-weight: bold;
}
#lead-paragraph {
  color: green;
  font-weight: bold;
  }

  .important:hover {
    background-color: orange;
  }

  a[href="about-me.html"]{
    background-color: orange;
  }

  h1 {
    color: orange;
    border-style: solid;
    border-width: 10px;
    border-color: orange;
  }

  p.important {
    width: 75%;
  }

  img {
    border-style: dashed;
    border-color: orange;
    border-width: 3px;
    width: 75%;
  }
